@import '/css/generalStyle.scss';

/*----------------------------------------------------------------------*/

.posts-content{
    width: 100%;

    .posts{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
}

@media (max-width: 992px) {
    .posts-content{
        width: 100%;

        .posts{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
        }
    }
}


@media (max-width: 660px) {
    .posts-content{
        width: 100%;

        .posts{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
        }
    }
}