@import '/css/generalStyle.scss';

/*----------------------------------------------------------------------*/

.main-designs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 2em 0;

    a{
    padding: 1px;

        img{
            min-height: 18em;
            height: 100%;
            width: 100%;
            margin: 0;
            object-fit: cover;
            filter: grayscale(0.25);
            border-radius: 2px;
            transition: 0.2s linear;
        }

        &:hover{
            z-index: 5;
        }

        &:hover img{
            filter: grayscale(0);
            transform: scale(105%);
        }
    }
}

@media (max-width: 992px){
    .main-designs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 2em 0;
    }
}


@media (max-width: 660px){  
    .main-designs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 2em 0;
    }
}